h3{
    font-size: 25px !important;
    color: black !important;
}

.btn-success:hover{
    background-color: violet;
}

canvas{
    margin-bottom: 100px;
    border: 12px ridge black;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{
        box-shadow: 10px 10px 40px red;
    }
    to{
        box-shadow: 10px 10px 40px yellow;
    }
}